@import '../variables';
@import '../components/buttons';
@import '../components/inputs';
@import '../components/calendar';

#mapa{width: 100%; height: 300px;}

.eventos {
    &-slide {
        .swiper {
            height: calc(100vh - 60px);

            @media screen and (min-width: 992px) {
                height: calc(100vh - 80px);
            }
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .info {
            position: absolute;
            bottom: 80px;
            left: 0;
            width: 100%;
            z-index: 2;

            h2 {
               font-size: 30px;
               color: $blanco;
               font-weight: bold;

                @media screen and (min-width: 992px) {
                    font-size: 40px;
                }
                @media screen and (min-width: 992px) {
                    font-size: 48px;
                }
            }
        }

        .swiper-pagination-bullet {
            opacity: 1;
            background-color: transparent;
            border: 1px solid $blanco;
            width: 20px;
            height: 20px;
        }
        .swiper-pagination-bullet-active {
            background-color: $main;
        }
    }


    &-informacion {
        padding: 40px 0px;
        background-color: #F7F7F7;

        .container-fluid {
            position: relative;
            z-index: 1;
        }

        .eventos-content {
            background-color: $blanco;
            box-shadow: 0px 10px 33px rgb(0 0 0 / 5%);

            @media (pointer: fine) {
                &:hover {
                    box-shadow: 0px 10px 33px rgb(0 0 0 / 10%);
                }
            }

            img.cover {
                width: 100%;
                height: 210px;
                object-fit: cover;
            }

            h5 {
                font-weight: 700;
                font-size: 12px;
                line-height: 16px;
            }

            h6 {
                color: $gold;
                font-weight: 500;
                font-size: 14px;
                line-height: 19px;
            }

            small {
                color: #BEBEBE;
            }

            p {
                font-weight: 700;
                font-size: 18px;
                line-height: 23px;
                color: $negro;
            }
        }

        .fondo-verde::before {
            content: '';
            background-color: $main;
            width: 100%;
            height: 150px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .bg-main {
            // padding: 50px 0px;
            overflow: hidden;
        }

        .bg-verde {
            background-color: $main;
            padding: 40px 0;

            @media screen and (min-width: 992px) {
                padding: 60px 0;
            }

            h5 {
                font-size: 18px;

                @media screen and (min-width: 992px) {
                    font-size: 24px;
                    line-height: 1.5;
                }
            }

            ul {
                flex-wrap: wrap;
            }

            .card {
                background-color: $blanco;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
                border-radius: 20px;
                padding: 10px;
                width: 48%;
                margin-bottom: 15px;
                
                @media screen and (min-width: 576px) {
                    width: 33%;
                    max-width: 124px;
                }
                @media screen and (min-width: 768px) {
                    width: 100%;
                    max-width: 165px;
                }

                img {
                    max-width: 100%;

                    @media screen and (min-width: 768px) {
                        width: 95px;
                    }
                }

                p {
                    font-weight: 500;
                    font-size: 16px;
                    color: $main;

                    @media screen and (min-width: 992px) {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    &-comentarios {
        background-color: rgba($color: $main, $alpha: 0.95);
        background-image: url(https://images.pexels.com/photos/12041967/pexels-photo-12041967.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;

        .swiper {
            .swiper-button-next,
            .swiper-button-prev {
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;

                &::after {
                    opacity: 0;
                }
            }

            .swiper-button-next {
                background-image: url(/img/arrow-next.svg);
                right: -10px;

                @media screen and (min-width: 768px) {
                    right: -40px;
                }
            }
            .swiper-button-prev {
                background-image: url(/img/arrow-prev.svg);
                left: -10px;

                @media screen and (min-width: 768px) {
                    left: -40px;
                }
            }
        }
    }

    /**
        
        Estilos que probablemente seran eliminados

    */

    &-listados {
        padding-bottom: 40px;
        background-color: $primary;

        @import './artes/components/card_bg';

        @media screen and (min-width: 992px) {
            padding-bottom: 60px;
        }
    }

    &-galeria {
        padding-bottom: 40px;

        .bg {
            border-radius: 15px;
        }

        @import '../components/tema_navegacion_galerias_negro';

        @media screen and (max-width: 991px) {
            padding-top: 80px;
        }
    }

    &-informacion-1 {
        padding-bottom: 60px;

        .tags {
            list-style: none;
            padding-left: 0px;
            margin-bottom: 0px;

            display: flex;
            flex-wrap: wrap;

            li {
                background-color: $negro;
                color: $blanco;
                padding: 6px 14px;
                font-size: 10px;
                font-weight: 600;
                line-height: 1.2;
                letter-spacing: 0.7px;
                border-radius: 2px;
                margin-left: 10px;

                &:nth-child(1) {
                    margin-left: 0px;
                }
            }
        }

        .card {
            background-color: #141A23;
            border: none;
            border-radius: 0px;

            .card-body {
                color: $blanco;
                p {
                    margin-bottom: 6px;

                    b {
                        font-weight: 600;
                    }
                }

                @media screen and (min-width: 992px) {
                    padding: 30px 25px;
                }
            }
        }
    }
}
