/*-------------------------------------------------
COLORES
-------------------------------------------------*/
$blanco: #ffffff;
$negro: #000000;
$primary: #1F2632;
$secondary: #141A23;

$c232323: #232323;
$cF9F9F9: #F9F9F9;
$cd8d8d8: #d8d8d8;

$main: #153D3C;
$gold: #AC7A43;


/*-------------------------------------------------
Fuentes tipograficas
-------------------------------------------------*/
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-open-sans: 'Open Sans', sans-serif;
$font-family-prata: 'Prata', serif;