.bg {
    height: 247px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

small {
    font-size: 12px;
    line-height: 1.67;
    display: block;
    margin-bottom: 15px;
}

h5 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.06px;
}