.input-group-suscripcion {
    border-radius: 4px;
    overflow: hidden;
    padding: 4px 4px 4px 10px;
    border: solid 1px $blanco;
    background-color: $blanco;

    input {
        border-radius: 0px;
        border: 0px;
        box-shadow: none;
        background-image: url(/img/icons/search.png);
        background-size: 18px;
        background-position: 0px;
        background-repeat: no-repeat;
        padding-left: 30px;
        line-height: 1.71;
        letter-spacing: normal;

        &::placeholder {
            color: $negro;
        }
    }
}