/*-------------------------------------------------
COLORES
-------------------------------------------------*/

/*-------------------------------------------------
Fuentes tipograficas
-------------------------------------------------*/

body {
  background-color: #ffffff;
  min-height: 100vh;
  width: 100%;
  position: relative;
  font-family: "Futura Std", sans-serif;
}

body * {
  outline: none !important;
}

body .m5 {
  margin-bottom: 5px;
}

body .m10 {
  margin-bottom: 10px;
}

body .m15 {
  margin-bottom: 15px;
}

body .m20 {
  margin-bottom: 20px;
}

body .m30 {
  margin-bottom: 30px;
}

body .m40 {
  margin-bottom: 40px;
}

body .m50 {
  margin-bottom: 50px;
}

body .m60 {
  margin-bottom: 60px;
}

body .m70 {
  margin-bottom: 70px;
}

body .m80 {
  margin-bottom: 80px;
}

body .m90 {
  margin-bottom: 90px;
}

body .m100 {
  margin-bottom: 100px;
}

@media screen and (min-width: 768px) {
  body .m-md-5 {
    margin-bottom: 5px;
  }

  body .m-md-10 {
    margin-bottom: 10px;
  }

  body .m-md-15 {
    margin-bottom: 15px;
  }

  body .m-md-20 {
    margin-bottom: 20px;
  }

  body .m-md-30 {
    margin-bottom: 30px;
  }

  body .m-md-40 {
    margin-bottom: 40px;
  }

  body .m-md-50 {
    margin-bottom: 50px;
  }

  body .m-md-60 {
    margin-bottom: 60px;
  }

  body .m-md-70 {
    margin-bottom: 70px;
  }

  body .m-md-80 {
    margin-bottom: 80px;
  }

  body .m-md-90 {
    margin-bottom: 90px;
  }

  body .m-md-100 {
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 992px) {
  body .m-lg-5 {
    margin-bottom: 5px;
  }

  body .m-lg-10 {
    margin-bottom: 10px;
  }

  body .m-lg-15 {
    margin-bottom: 15px;
  }

  body .m-lg-20 {
    margin-bottom: 20px;
  }

  body .m-lg-30 {
    margin-bottom: 30px;
  }

  body .m-lg-40 {
    margin-bottom: 40px;
  }

  body .m-lg-50 {
    margin-bottom: 50px;
  }

  body .m-lg-60 {
    margin-bottom: 60px;
  }

  body .m-lg-70 {
    margin-bottom: 70px;
  }

  body .m-lg-80 {
    margin-bottom: 80px;
  }

  body .m-lg-90 {
    margin-bottom: 90px;
  }

  body .m-lg-100 {
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  body .m-xl-5 {
    margin-bottom: 5px;
  }

  body .m-xl-10 {
    margin-bottom: 10px;
  }

  body .m-xl-15 {
    margin-bottom: 15px;
  }

  body .m-xl-20 {
    margin-bottom: 20px;
  }

  body .m-xl-30 {
    margin-bottom: 30px;
  }

  body .m-xl-40 {
    margin-bottom: 40px;
  }

  body .m-xl-50 {
    margin-bottom: 50px;
  }

  body .m-xl-60 {
    margin-bottom: 60px;
  }

  body .m-xl-70 {
    margin-bottom: 70px;
  }

  body .m-xl-80 {
    margin-bottom: 80px;
  }

  body .m-xl-90 {
    margin-bottom: 90px;
  }

  body .m-xl-100 {
    margin-bottom: 100px;
  }
}

body .w6 {
  max-width: 600px !important;
}

body .w8 {
  max-width: 800px !important;
}

body .w95 {
  max-width: 950px !important;
}

body .w10 {
  max-width: 1000px !important;
}

body .w12 {
  max-width: 1200px !important;
}

body .w14 {
  max-width: 1400px !important;
}

body .w15 {
  max-width: 1500px !important;
}

body .w16 {
  max-width: 1600px !important;
}

body .w18 {
  max-width: 1800px !important;
}

body .w-max-100 {
  max-width: 100%;
}

body .w-60 {
  width: 60% !important;
}

body .w-65 {
  width: 65% !important;
}

body .w-70 {
  width: 70% !important;
}

body .w-80 {
  width: 80% !important;
}

body .w-85 {
  width: 85% !important;
}

body .w-90 {
  width: 90% !important;
}

body .w-95 {
  width: 95% !important;
}

body .w-98 {
  width: 98% !important;
}

body .w-100 {
  width: 100% !important;
}

body .w-auto {
  width: auto !important;
}

@media screen and (min-width: 576px) {
  body .w-sm-60 {
    width: 60% !important;
  }

  body .w-sm-65 {
    width: 65% !important;
  }

  body .w-sm-70 {
    width: 70% !important;
  }

  body .w-sm-80 {
    width: 80% !important;
  }

  body .w-sm-85 {
    width: 85% !important;
  }

  body .w-sm-90 {
    width: 90% !important;
  }

  body .w-sm-95 {
    width: 95% !important;
  }

  body .w-sm-98 {
    width: 98% !important;
  }

  body .w-sm-100 {
    width: 100% !important;
  }

  body .w-sm-auto {
    width: auto !important;
  }
}

@media screen and (min-width: 768px) {
  body .w-md-60 {
    width: 60% !important;
  }

  body .w-md-65 {
    width: 65% !important;
  }

  body .w-md-70 {
    width: 70% !important;
  }

  body .w-md-80 {
    width: 80% !important;
  }

  body .w-md-85 {
    width: 85% !important;
  }

  body .w-md-90 {
    width: 90% !important;
  }

  body .w-md-95 {
    width: 95% !important;
  }

  body .w-md-98 {
    width: 98% !important;
  }

  body .w-md-100 {
    width: 100% !important;
  }

  body .w-md-auto {
    width: auto !important;
  }
}

@media screen and (min-width: 992px) {
  body .w-lg-60 {
    width: 60% !important;
  }

  body .w-lg-65 {
    width: 65% !important;
  }

  body .w-lg-70 {
    width: 70% !important;
  }

  body .w-lg-80 {
    width: 80% !important;
  }

  body .w-lg-85 {
    width: 85% !important;
  }

  body .w-lg-90 {
    width: 90% !important;
  }

  body .w-lg-95 {
    width: 95% !important;
  }

  body .w-lg-98 {
    width: 98% !important;
  }

  body .w-lg-100 {
    width: 100% !important;
  }

  body .w-lg-auto {
    width: auto !important;
  }
}

@media screen and (min-width: 1200px) {
  body .w-xl-60 {
    width: 60% !important;
  }

  body .w-xl-65 {
    width: 65% !important;
  }

  body .w-xl-70 {
    width: 70% !important;
  }

  body .w-xl-80 {
    width: 80% !important;
  }

  body .w-xl-85 {
    width: 85% !important;
  }

  body .w-xl-90 {
    width: 90% !important;
  }

  body .w-xl-95 {
    width: 95% !important;
  }

  body .w-xl-98 {
    width: 98% !important;
  }

  body .w-xl-100 {
    width: 100% !important;
  }

  body .w-xl-auto {
    width: auto !important;
  }
}

body a:hover,
body a:focus,
body a:active,
body a {
  color: inherit;
  text-decoration: none;
}

body .pointer {
  cursor: pointer;
}

body .bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
}

body .bg img {
  width: 100%;
  height: auto;
  visibility: hidden;
}

body .bg.bg-size-contain {
  background-size: contain;
}

body .bg.bg-size-auto {
  background-size: auto;
}

body .bg.bg-size-cover {
  background-size: cover;
}

body .btn.btn-gold,
body .btn.btn-white {
  border-radius: 6px;
  font-weight: normal;
  letter-spacing: 1px;
}

body .btn.btn-gold.fw-500,
body .btn.btn-white.fw-500 {
  font-weight: 500;
}

body .btn.btn-gold {
  background-color: #AC7A43;
  color: #ffffff;
}

body .btn.btn-white {
  background-color: #ffffff;
  color: #153D3C;
}

body p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
}

@media screen and (min-width: 992px) {
  body p {
    font-size: 16px;
  }
}

body .titulo {
  font-size: 48px;
  color: #AC7A43;
  font-weight: 400;
}

body .titulo.decoracion {
  position: realtive;
}

body .titulo.decoracion::before,
body .titulo.decoracion::after {
  display: inline-block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 138px;
  width: 100%;
  height: 15px;
  content: "";
}

body .titulo.decoracion::before {
  background-image: url("/img/deco-left.svg");
  margin-right: 20px;
}

body .titulo.decoracion::after {
  background-image: url("/img/deco-right.svg");
  margin-left: 20px;
}

body .btn-murmurante-online {
  position: fixed;
  top: 200px;
  right: 0px;
  z-index: 100;
  background-color: #E51E29;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0px 18px;
  padding-right: 32px;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.13);
}

body .btn-murmurante-online:hover,
body .btn-murmurante-online:active,
body .btn-murmurante-online:focus {
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  body .btn-murmurante-online {
    transform: rotate(-90deg) translate(0px, 75px);
  }
}

body .modal {
  background: rgba(41, 41, 41, 0.89);
}

@media screen and (min-width: 600px) {
  body #mdSuscripcion .modal-dialog {
    max-width: 600px;
  }
}

body #mdSuscripcion .modal-content {
  border: none;
  border-radius: 0px;
}

body #mdSuscripcion .modal-header {
  border: none;
  background-color: #000000;
  border-radius: 0px;
  position: relative;
}

body #mdSuscripcion .modal-header img.cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
}

body #mdSuscripcion .modal-header h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.56;
  letter-spacing: -0.43px;
  text-align: center;
  color: #ffffff;
}

body #mdSuscripcion .modal-header .input-group-suscripcion {
  border-radius: 4px;
  overflow: hidden;
  padding: 4px 4px 4px 10px;
  border: solid 1px #ffffff;
  background-color: #ffffff;
}

body #mdSuscripcion .modal-header .input-group-suscripcion input {
  border-radius: 0px;
  border: 0px;
  box-shadow: none;
  background-image: url(/img/icons/search.png);
  background-size: 18px;
  background-position: 0px;
  background-repeat: no-repeat;
  padding-left: 30px;
  line-height: 1.71;
  letter-spacing: normal;
}

body #mdSuscripcion .modal-header .input-group-suscripcion input::-moz-placeholder {
  color: #000000;
}

body #mdSuscripcion .modal-header .input-group-suscripcion input:-ms-input-placeholder {
  color: #000000;
}

body #mdSuscripcion .modal-header .input-group-suscripcion input::placeholder {
  color: #000000;
}

body #mdSuscripcion .modal-body input.in {
  padding: 6px 15px;
  border: 1px solid #000000;
  border-radius: 0px;
  box-shadow: none;
  color: #000000;
  width: 100%;
}

body #mdSuscripcion .modal-body input.in::-moz-placeholder {
  color: #000000;
}

body #mdSuscripcion .modal-body input.in:-ms-input-placeholder {
  color: #000000;
}

body #mdSuscripcion .modal-body input.in::placeholder {
  color: #000000;
}

body #mdSuscripcion .btn-negro {
  background-color: #000000;
  color: #ffffff;
  padding: 9px 17px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  border: none;
  border-radius: 0px;
}

nav.menu-movil {
  background: #153D3C;
  position: relative;
  top: 0px;
  width: 100%;
  padding: 10px 0px;
}

nav.menu-movil img.logo {
  width: 154px;
}

nav.menu-movil .menu {
  height: 25px;
  width: 35px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

nav.menu-movil .menu.menu-3:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background: #fff;
  width: 100%;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.4s 0.4s, opacity 0.4s 0.4s;
}

nav.menu-movil .menu.menu-3:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background: #fff;
  width: 100%;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.4s 0.4s, opacity 0.4s 0.4s;
}

nav.menu-movil .menu.menu-3 span {
  height: 3px;
  width: 100%;
  display: block;
  transform: translate3d(0, 11px, 0);
  position: relative;
}

nav.menu-movil .menu.menu-3 span:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background: #fff;
  width: 100%;
  transform: rotate(0);
  transition: transform 0.4s;
}

nav.menu-movil .menu.menu-3 span:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background: #fff;
  width: 100%;
  transform: rotate(0);
  transition: transform 0.4s;
}

nav.menu-movil .menu.menu-3.active:before {
  transform: translate3d(100%, 0, 0);
  opacity: 0;
  transition: all 0.4s;
}

nav.menu-movil .menu.menu-3.active:after {
  transform: translate3d(-100%, 0, 0);
  opacity: 0;
  transition: all 0.4s;
}

nav.menu-movil .menu.menu-3.active span:after {
  transform: rotate(45deg);
  transition: transform 0.4s 0.4s;
}

nav.menu-movil .menu.menu-3.active span:before {
  transform: rotate(-45deg);
  transition: transform 0.4s 0.4s;
}

nav.menu-movil .sidebar-left {
  position: fixed;
  top: 60px;
  left: 0px;
  width: 100%;
  height: calc(100vh - 60px);
  z-index: 400;
  background-color: #153D3C;
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: auto;
  transform: translate(-105%, 0%);
  transition: transform 400ms;
}

nav.menu-movil .sidebar-left.active {
  transform: translate(0%, 0%);
}

nav.menu-movil .sidebar-left .menu-list {
  margin: 0px;
  list-style: none;
  padding-left: 0px;
}

nav.menu-movil .sidebar-left .menu-list li {
  font-size: 16px;
  font-size: 16px;
  letter-spacing: 1.86px;
  display: block;
  padding: 10px 15px;
  opacity: 0.8;
  color: #ffffff;
}

nav.menu-movil .sidebar-left .menu-list li.active {
  color: #AC7A43;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  nav.menu-movil .sidebar-left {
    max-width: 300px;
  }
}

nav.menu-escritorio {
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  background-color: #153D3C;
}

nav.menu-escritorio img.logo {
  width: 156px;
}

@media screen and (min-width: 1200px) {
  nav.menu-escritorio img.logo {
    width: auto;
    max-width: 100%;
  }
}

@media screen and (min-width: 992px) {
  nav.menu-escritorio .btn.btn-white {
    font-size: 10px;
  }
}

@media screen and (min-width: 1200px) {
  nav.menu-escritorio .btn.btn-white {
    font-size: 12px;
  }
}

@media screen and (min-width: 1366px) {
  nav.menu-escritorio .btn.btn-white {
    font-size: 14px;
  }
}

nav.menu-escritorio ul.menu {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav.menu-escritorio ul.menu li {
  font-size: 14px;
  letter-spacing: 1.86px;
  color: #ffffff;
  font-weight: normal;
}

@media screen and (min-width: 992px) {
  nav.menu-escritorio ul.menu li {
    font-size: 10px;
  }

  nav.menu-escritorio ul.menu li .btn.btn-white {
    font-size: 10px;
  }
}

@media screen and (min-width: 1200px) {
  nav.menu-escritorio ul.menu li {
    font-size: 12px;
  }

  nav.menu-escritorio ul.menu li .btn.btn-white {
    font-size: 12px;
  }
}

@media screen and (min-width: 1366px) {
  nav.menu-escritorio ul.menu li {
    font-size: 16px;
  }

  nav.menu-escritorio ul.menu li .btn.btn-white {
    font-size: 14px;
  }
}

nav.menu-escritorio ul.menu li + li {
  margin-left: 25px;
}

@media screen and (min-width: 1200px) {
  nav.menu-escritorio ul.menu li + li {
    margin-left: 35px;
  }
}

nav.menu-escritorio ul.menu li.active {
  position: relative;
  color: #AC7A43;
}

footer .ft-telefonos {
  background-color: #AC7A43;
  background-image: linear-gradient(270deg, rgba(172, 122, 67, 0.9) 0%, rgba(172, 122, 67, 0.9) 100%), url(https://images.pexels.com/photos/12041967/pexels-photo-12041967.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer .ft-redes-sociales {
  color: #153D3C;
}

footer .ft-copy {
  background-color: #153D3C;
}

.loading {
  background-color: #153D3C;
  position: fixed;
  z-index: 2500;
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  top: 0px;
  left: 0px;
}

.loading img {
  margin-bottom: 15px;
}

.loading .spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #ffffff;
  border-radius: 100%;
  -webkit-animation: skscaleout 1s infinite ease-in-out;
          animation: skscaleout 1s infinite ease-in-out;
  position: absolute;
  top: -70px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@-webkit-keyframes skscaleout {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes skscaleout {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

