body {
    background-color: $blanco;
    min-height: 100vh;
    width: 100%;
	position: relative;
    font-family: $font-futura;

	* {
		outline: none !important;
	}

    @import '../components/custom-margin';
    @import '../components/custom-max-width';
    @import '../components/custom-width';

	a:hover,
	a:focus,
	a:active,
	a {
		color: inherit;
		text-decoration: none;
    }

    .pointer {
        cursor: pointer;
    }

    .bg {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		height: auto;

		img {
			width: 100%;
			height: auto;
			visibility: hidden;
		}

		&.bg-size-contain {
			background-size: contain;
		}

		&.bg-size-auto {
			background-size: auto;
		}

		&.bg-size-cover {
			background-size: cover;
		}
	}

	.btn {
        &.btn-gold,
        &.btn-white {
            padding: 11px 15px;
            border-radius: 6px;
            min-width: 130px;
            font-size: 14px;
            font-weight: normal;
            letter-spacing: 1px;

            @media screen and (min-width: 1200px) {
                font-size: 16px;
            }

            &.fw-500 {
                font-weight: 500;
            }
        }

        &.btn-gold {
            background-color: $gold;
            color: $blanco;
        }

        &.btn-white {
            background-color: $blanco;
            color: $main;
        }
    }

    p {
        font-family: $font-family-open-sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        color: $blanco;

        @media screen and (min-width: 992px) {
            font-size: 16px;
        }
    }
    .titulo {
        font-size: 48px;
        color: $gold;
        font-weight: 400;

        &.decoracion {
            position: realtive;

            &::before,
            &::after {
                display: inline-block;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                max-width: 138px;
                width: 100%;
                height: 15px;
                content: "";
            }

            &::before {
                background-image: url('/img/deco-left.svg');
                margin-right: 20px;
            }
            &::after {
                background-image: url('/img/deco-right.svg');
                margin-left: 20px;
            }
        }
    }

    // .titulo {
    //     font-family: $font-family-open-sans;
    //     font-size: 28px;
    //     letter-spacing: -0.1px;
    //     color: $blanco;
    // }

    .btn-murmurante-online {
        position: fixed;
        top: 200px;
        right: 0px;
        z-index: 100;
        background-color: #E51E29;
        color: $blanco;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 0px 18px;
        padding-right: 32px;
        box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.13);

        &:hover,
        &:active,
        &:focus {
            color: $blanco;
        }

        @media screen and (max-width: 1199px) {
            transform: rotate(-90deg) translate(0px, 75px);
        }
    }

    .modal {
        background: rgba(41, 41, 41, 0.89);
    }

    @import '../components/modal_suscripcion';
}