footer {
    .ft-telefonos {
        background-color: #AC7A43;
        background-image: linear-gradient(270deg, rgba(172,122,67,0.9) 0%, rgba(172,122,67,0.9) 100%), url(https://images.pexels.com/photos/12041967/pexels-photo-12041967.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // background-blend-mode: multiply;
    }

    .ft-redes-sociales {
        color: $main;
    }

    .ft-copy {
        background-color: $main;
    }
}