/*-------------------------------------------------
COLORES
-------------------------------------------------*/

/*-------------------------------------------------
Fuentes tipograficas
-------------------------------------------------*/

.btn-primary {
  color: #fff;
  background-color: #2792F6;
  border-color: #2792F6;
}

.btn-primary:hover {
  color: #2792F6;
  background-color: #fff;
  border-color: #fff;
}

input .is_invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

input .is_valid {
  border-color: #28a745;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

input[type=radio] + label.is_invalid {
  color: #dc3545;
}

input[type=radio] + label.is_valid {
  color: #28a745;
}

select.sl {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: none;
  color: #ffffff;
  background-image: url(/img/icons/down-arrow.svg);
  background-position: 96%;
  background-repeat: no-repeat;
  background-size: 20px;
  font-size: 12px;
  background-color: transparent;
}

@media screen and (min-width: 992px) {
  select.sl {
    font-size: 14px;
  }
}

select .is_invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

select .is_valid {
  border-color: #28a745;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.calendar-week {
  margin-left: auto;
  margin-right: auto;
}

.calendar-week-header {
  margin-bottom: 0px;
}

.calendar-week-title {
  width: 14.2857142857%;
  text-align: center;
}

.calendar-week-title h5 {
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .calendar-week-title h5 {
    font-size: 15px;
    letter-spacing: 5.14px;
  }
}

.calendar-week-pilar {
  width: 14.2857142857%;
}

.calendar-week-pilar:empty {
  min-height: 350px;
}

.calendar-week-pilar:empty::before {
  content: "Sin actividades";
  color: #000000;
  display: block;
  text-align: center;
  font-size: calc(.4rem + .5vw);
}

.calendar-week-pilar:empty::after {
  content: "";
  height: 5px;
  width: 80%;
  background-color: #AC7A43;
  max-width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.calendar-week-card {
  background-color: #ffffff;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: center;
  transition: 350ms all;
}

.calendar-week-card a {
  padding: 15px 0px;
}

@media screen and (min-width: 768px) {
  .calendar-week-card a {
    padding: 25px 0px;
  }
}

@media screen and (min-width: 992px) {
  .calendar-week-card a {
    padding: 25px 15px;
  }
}

.calendar-week-card h6 {
  font-size: calc(.4rem + .5vw);
  letter-spacing: 0.69px;
  color: #153D3C;
}

.calendar-week-card h6.rojo {
  color: #DC4E41;
}

.calendar-week-card h6.azul {
  color: #3056D3;
}

.calendar-week-card h6.verde {
  color: #13C296;
}

.calendar-week-card h6.main {
  color: #153D3C;
}

.calendar-week-card .instructor {
  font-size: calc(.4rem + .5vw);
  font-weight: 500;
  letter-spacing: 0.69px;
  color: #000000;
  margin-bottom: 5px;
}

.calendar-week-card .time {
  font-size: calc(.4rem + .5vw);
  font-weight: 300;
  letter-spacing: 0.69px;
  color: #000000;
  margin-bottom: 0px;
}

@media screen and (pointer: fine) {
  .calendar-week-card:hover:not(.off-time),
  .calendar-week-card:hover:not(.full) {
    background-color: #153D3C;
  }

  .calendar-week-card:hover:not(.off-time) h6,
  .calendar-week-card:hover:not(.off-time) .instructor,
  .calendar-week-card:hover:not(.off-time) .time,
  .calendar-week-card:hover:not(.full) h6,
  .calendar-week-card:hover:not(.full) .instructor,
  .calendar-week-card:hover:not(.full) .time {
    color: #ffffff;
  }
}

@media screen and (pointer: coarse) {
  .calendar-week-card:focus:not(.off-time),
  .calendar-week-card:focus:not(.full) {
    background-color: #153D3C;
  }

  .calendar-week-card:focus:not(.off-time) h6,
  .calendar-week-card:focus:not(.off-time) .instructor,
  .calendar-week-card:focus:not(.off-time) .time,
  .calendar-week-card:focus:not(.full) h6,
  .calendar-week-card:focus:not(.full) .instructor,
  .calendar-week-card:focus:not(.full) .time {
    color: #ffffff;
  }
}

.calendar-week-card.off-time {
  opacity: 1;
  pointer-events: none;
  background-color: #e5e5e5;
}

.calendar-week-card.full {
  pointer-events: none;
  background-color: antiquewhite;
}

.calendar-week-card.full h6,
.calendar-week-card.full .instructor,
.calendar-week-card.full .time {
  color: #153D3C;
}

#mapa {
  width: 100%;
  height: 300px;
}

.eventos {
  /**

      Estilos que probablemente seran eliminados

  */
}

.eventos-slide .swiper {
  height: calc(100vh - 60px);
}

@media screen and (min-width: 992px) {
  .eventos-slide .swiper {
    height: calc(100vh - 80px);
  }
}

.eventos-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.eventos-slide .info {
  position: absolute;
  bottom: 80px;
  left: 0;
  width: 100%;
  z-index: 2;
}

.eventos-slide .info h2 {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
}

@media screen and (min-width: 992px) {
  .eventos-slide .info h2 {
    font-size: 40px;
  }
}

@media screen and (min-width: 992px) {
  .eventos-slide .info h2 {
    font-size: 48px;
  }
}

.eventos-slide .swiper-pagination-bullet {
  opacity: 1;
  background-color: transparent;
  border: 1px solid #ffffff;
  width: 20px;
  height: 20px;
}

.eventos-slide .swiper-pagination-bullet-active {
  background-color: #153D3C;
}

.eventos-informacion {
  padding: 40px 0px;
  background-color: #F7F7F7;
}

.eventos-informacion .container-fluid {
  position: relative;
  z-index: 1;
}

.eventos-informacion .eventos-content {
  background-color: #ffffff;
  box-shadow: 0px 10px 33px rgba(0, 0, 0, 0.05);
}

@media (pointer: fine) {
  .eventos-informacion .eventos-content:hover {
    box-shadow: 0px 10px 33px rgba(0, 0, 0, 0.1);
  }
}

.eventos-informacion .eventos-content img.cover {
  width: 100%;
  height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
}

.eventos-informacion .eventos-content h5 {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.eventos-informacion .eventos-content h6 {
  color: #AC7A43;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}

.eventos-informacion .eventos-content small {
  color: #BEBEBE;
}

.eventos-informacion .eventos-content p {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.eventos-informacion .fondo-verde::before {
  content: "";
  background-color: #153D3C;
  width: 100%;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.eventos-informacion .bg-main {
  overflow: hidden;
}

.eventos-informacion .bg-verde {
  background-color: #153D3C;
  padding: 40px 0;
}

@media screen and (min-width: 992px) {
  .eventos-informacion .bg-verde {
    padding: 60px 0;
  }
}

.eventos-informacion .bg-verde h5 {
  font-size: 18px;
}

@media screen and (min-width: 992px) {
  .eventos-informacion .bg-verde h5 {
    font-size: 24px;
    line-height: 1.5;
  }
}

.eventos-informacion .bg-verde ul {
  flex-wrap: wrap;
}

.eventos-informacion .bg-verde .card {
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 10px;
  width: 48%;
  margin-bottom: 15px;
}

@media screen and (min-width: 576px) {
  .eventos-informacion .bg-verde .card {
    width: 33%;
    max-width: 124px;
  }
}

@media screen and (min-width: 768px) {
  .eventos-informacion .bg-verde .card {
    width: 100%;
    max-width: 165px;
  }
}

.eventos-informacion .bg-verde .card img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .eventos-informacion .bg-verde .card img {
    width: 95px;
  }
}

.eventos-informacion .bg-verde .card p {
  font-weight: 500;
  font-size: 16px;
  color: #153D3C;
}

@media screen and (min-width: 992px) {
  .eventos-informacion .bg-verde .card p {
    font-size: 20px;
  }
}

.eventos-comentarios {
  background-color: rgba(21, 61, 60, 0.95);
  background-image: url(https://images.pexels.com/photos/12041967/pexels-photo-12041967.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

.eventos-comentarios .swiper .swiper-button-next,
.eventos-comentarios .swiper .swiper-button-prev {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.eventos-comentarios .swiper .swiper-button-next::after,
.eventos-comentarios .swiper .swiper-button-prev::after {
  opacity: 0;
}

.eventos-comentarios .swiper .swiper-button-next {
  background-image: url(/img/arrow-next.svg);
  right: -10px;
}

@media screen and (min-width: 768px) {
  .eventos-comentarios .swiper .swiper-button-next {
    right: -40px;
  }
}

.eventos-comentarios .swiper .swiper-button-prev {
  background-image: url(/img/arrow-prev.svg);
  left: -10px;
}

@media screen and (min-width: 768px) {
  .eventos-comentarios .swiper .swiper-button-prev {
    left: -40px;
  }
}

.eventos-listados {
  padding-bottom: 40px;
  background-color: #1F2632;
}

.eventos-listados .bg.card-bg {
  border: solid 1px #979797;
  border-radius: 15px;
  overflow: hidden;
}

.eventos-listados .bg.card-bg::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.55);
}

.eventos-listados .bg.card-bg h4 {
  position: absolute;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: -0.07px;
  text-align: center;
  color: #ffffff;
  bottom: 10px;
  min-height: 130px;
  left: 0px;
  z-index: 2;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .eventos-listados {
    padding-bottom: 60px;
  }
}

.eventos-galeria {
  padding-bottom: 40px;
}

.eventos-galeria .bg {
  border-radius: 15px;
}

.eventos-galeria .owl-carousel .owl-video-tn {
  background-size: cover;
}

.eventos-galeria .owl-theme .owl-nav {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .eventos-galeria .owl-theme .owl-nav {
    justify-content: space-around;
  }
}

.eventos-galeria .owl-carousel .owl-nav button.owl-prev,
.eventos-galeria .owl-carousel .owl-nav button.owl-next {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 0px;
  height: 40px;
  width: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.eventos-galeria .owl-carousel .owl-nav button.owl-prev span,
.eventos-galeria .owl-carousel .owl-nav button.owl-next span {
  opacity: 0;
}

.eventos-galeria .owl-carousel .owl-nav button.owl-prev {
  background-image: url(/img/icons/icon-prev-arrow-negro.png);
}

.eventos-galeria .owl-carousel .owl-nav button.owl-next {
  background-image: url(/img/icons/icon-next-arrow-negro.png);
}

.eventos-galeria .owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1;
}

.eventos-galeria .owl-theme .owl-dots .owl-dot span {
  background-color: #1F2632;
  margin: 5px 3px;
  border: 1px solid #fff;
}

.eventos-galeria .owl-theme .owl-dots .owl-dot.active span,
.eventos-galeria .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #fff;
}

@media screen and (max-width: 991px) {
  .eventos-galeria {
    padding-top: 80px;
  }
}

.eventos-informacion-1 {
  padding-bottom: 60px;
}

.eventos-informacion-1 .tags {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
}

.eventos-informacion-1 .tags li {
  background-color: #000000;
  color: #ffffff;
  padding: 6px 14px;
  font-size: 10px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.7px;
  border-radius: 2px;
  margin-left: 10px;
}

.eventos-informacion-1 .tags li:nth-child(1) {
  margin-left: 0px;
}

.eventos-informacion-1 .card {
  background-color: #141A23;
  border: none;
  border-radius: 0px;
}

.eventos-informacion-1 .card .card-body {
  color: #ffffff;
}

.eventos-informacion-1 .card .card-body p {
  margin-bottom: 6px;
}

.eventos-informacion-1 .card .card-body p b {
  font-weight: 600;
}

@media screen and (min-width: 992px) {
  .eventos-informacion-1 .card .card-body {
    padding: 30px 25px;
  }
}

