/*-------------------------------------------------
COLORES
-------------------------------------------------*/

/*-------------------------------------------------
Fuentes tipograficas
-------------------------------------------------*/

.btn-primary {
  color: #fff;
  background-color: #2792F6;
  border-color: #2792F6;
}

.btn-primary:hover {
  color: #2792F6;
  background-color: #fff;
  border-color: #fff;
}

.nav a {
  background: #141A23;
  display: inline-block;
  height: 44px;
  position: relative;
  width: 150px;
  color: #ffffff;
  text-align: center;
  line-height: 1.8;
  font-weight: 700;
}

.nav a:nth-child(2),
.nav a:nth-child(3) {
  border: 22px solid #141A23;
  border-left: 22px solid transparent;
  border-right: 0px;
  width: 150px;
  height: 44px;
  padding: inherit;
  line-height: 0.2;
  background: inherit;
  margin-left: 20px;
}

.nav a:nth-child(2):before,
.nav a:nth-child(3):before {
  left: 128px;
  width: 0;
  top: -22px;
}

.nav a:before {
  border-top: 22px solid transparent;
  border-left: 22px solid #141A23;
  border-bottom: 22px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  left: 150px;
  width: 0;
  top: 0;
}

.countdown {
  color: #ffffff;
}

.countdown #getting-started {
  font-size: 24px;
  letter-spacing: 5px;
}

.custom-radio {
  display: none;
}

.custom-radio + label {
  font-weight: normal;
  cursor: pointer;
}

.custom-radio + label span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
  background-color: #ffffff;
  border: 1px solid #EAECEF;
  border-radius: 3px;
  font-weight: 500;
}

.custom-radio + label span::before {
  content: "";
  opacity: 0;
  width: 12px;
  height: 12px;
  background-color: #000000;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s;
  border-radius: 2px;
}

.custom-radio + label span.circular {
  border-radius: 50%;
}

.custom-radio + label span.circular::before {
  border-radius: 50%;
}

.custom-radio.border-radius + label span {
  border-radius: 50%;
}

.custom-radio.border-radius + label span::before {
  border-radius: 50%;
}

.custom-radio.border-radius + label span.circular {
  border-radius: 50%;
}

.custom-radio.border-radius + label span.circular::before {
  border-radius: 50%;
}

.custom-radio:checked + label span::before {
  opacity: 1;
}

.custom-radio:disabled + label {
  opacity: 0.5;
  cursor: default;
}

.custom-radio:disabled + label span {
  cursor: default;
}

.pagos {
  background-color: #F7F7F7;
}

.pagos h3.titulo {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #AC7A43;
}

@media screen and (min-width: 768px) {
  .pagos h3.titulo {
    font-size: 35px;
  }
}

@media screen and (min-width: 992px) {
  .pagos h3.titulo {
    font-size: 48px;
  }
}

.pagos h4 {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.5px;
  color: #AC7A43;
}

@media screen and (min-width: 768px) {
  .pagos h4 {
    font-size: 22px;
  }
}

@media screen and (min-width: 992px) {
  .pagos h4 {
    font-size: 24px;
  }
}

.pagos label.dorado {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.5px;
  color: #AC7A43;
}

.pagos label.grey {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.5px;
  color: #979797;
}

.pagos input.in {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.5px;
  color: #153D3C;
  border: none;
  background-color: #ffffff;
  height: 48px;
  border-radius: 5px;
}

.pagos input.in::-moz-placeholder {
  color: #979797;
}

.pagos input.in:-ms-input-placeholder {
  color: #979797;
}

.pagos input.in::placeholder {
  color: #979797;
}

.pagos textarea.tx {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.5px;
  color: #153D3C;
  border: none;
  background-color: #ffffff;
  resize: none;
  border-radius: 5px;
}

.pagos textarea.tx::-moz-placeholder {
  color: #979797;
}

.pagos textarea.tx:-ms-input-placeholder {
  color: #979797;
}

.pagos textarea.tx::placeholder {
  color: #979797;
}

.pagos .card-body p {
  color: #153D3C;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.5px;
}

.pagos .card-footer {
  background-color: #153D3C;
}

.pagos .card-footer table {
  color: #ffffff;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.5px;
}

.pago {
  padding: 40px 0;
}

.pago h3 {
  color: #ffffff;
  font-size: 20px;
}

.pago h1 {
  color: #ffffff;
  line-height: 2;
}

.pago h1 span {
  letter-spacing: 15px;
}

.pago hr {
  margin: 50px 0px;
  border-top: 1px solid #ffffff;
}

.pago .card {
  border: 0px;
  border-radius: 0px;
}

.pago .card .card-text {
  line-height: 1.9;
  color: #1F2632;
}

.pago .card .card-footer {
  border-radius: 0px;
  background-color: #141A23;
}

.pago input,
.pago input:focus,
.pago input:active {
  height: 47px;
  background-color: transparent;
  color: #ffffff;
}

.pago .content-cupon {
  background-color: #141A23;
  padding: 15px;
}

.pago .content-cupon input,
.pago .content-cupon input:focus,
.pago .content-cupon input:active {
  background-color: #ffffff;
  color: #1F2632;
}

.pago .content-cupon button {
  color: #000;
  background-color: #ffffff;
  border-color: #ffffff;
  height: 47px;
  border-radius: 50px;
  padding: 0px 30px;
}

.pago .content-cupon button:hover {
  color: #ffffff;
  background-color: #1F2632;
  border-color: #1F2632;
}

